@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital');

*
{
  margin: 0;
  padding: 0;
  max-width: 1440px;
}
:root{

  --White: hsl(0, 0%, 100%);
  --Lightpink: hsl(275, 100%, 97%);
  --Grayishpurple: hsl(292, 16%, 49%);
  --Darkpurple: hsl(292, 42%, 14%);
  --paragrapsfont: 16px;
}
 body{
  background-color: rgb(216, 219, 221);
 
  font-family: "Work Sans", sans-serif;

 }
 .accordion-container
 {
  width: 50%;
  background-color: var(--White);
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: relative;
 
  margin-top: -8%;
  padding: 40px;

 }
 .accordion-container .heading
 {
display: flex;
margin-bottom: 20px;
 }
 .accordion-item
 {
  margin-bottom: 40px;
 }
 .accordion-container .heading>img{
  margin-right: 25px;
 }
 .accordion-item-header p{
  width: 90%;
  line-height: 1.5rem;
 }
 .accordion-item-header
 {
  font-size: 16px;
  font-weight:700;
 margin-bottom: 15px;

 cursor: pointer;
 position: relative;
 display: flex;
 align-items: center;
  
 }
 .icon:after{
  padding: 3px 7px;
  content: "\002B";
  font-size: 1rem;
  
  background-color: var(--Grayishpurple);
  border-radius: 50px;
  color: var(--White);
  position: absolute;
  top: 0;
  right: 1rem;
  transition:transform 0.2s ease-in-out;
 }
 .accordion-item-header.active .icon:after
 {

  background-color: var(--Darkpurple);
   content: "\2212";
 
 }
 
 .accordion-item-header.active
 {
  color: var(--Grayishpurple);
 }
 .accordion-item-body
 {
  max-height: 0;
  overflow: hidden;
font-size: var(--paragrapsfont);
color:rgb(0, 0, 0);
font-weight: 200;
  line-height: 2rem;
  transition: max-height 0.2s ease-in-out;
 }
 .accordion-item-header.active + .accordion-item-body{
 max-height: 200px;
 }
 @media only screen and (max-width: 600px)
 {
  .accordion-container
  {
   width: 70%;
  }
 }